.header-btn {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #5c35c5;
  color: #eee;
  font-weight: 900;
  font-size: 15px;
  border: none;
  outline: none;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  position: relative;
}

.header-btn:hover {
  background-color: #6c36fe;
}
