header {
  width: 100%;
  height: 5rem;
}

.header-parent {
  width: 96%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-name div {
  width: 140px;
  height: 30px;
  background-image: url("../../pictures/web-name.svg");
  background-repeat: no-repeat;
}
